@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;1,500&family=Roboto+Condensed:wght@300;400;700&display=swap');


:root{
    --yellow:#f9d806;
    --light-yellow:#ffee80;
    --black:#130f40;
    --light-color:#666;
    --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
    --border:.1rem solid rgba(0,0,0,.1);
}

*{
    
    font-family: 'Poppins', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
}

/* body{
    height: 300rem;
} */
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top:0; left:0; right:0;
    padding:3rem 9%;
    z-index: 1000;
    background: #fff;
}

.header .logo{
    font-size: 2.5rem;
    color:var(--black);
    font-weight: bold;
}
.header .logo span{
    color:var(--yellow);
}

.ItemLink{
    margin:0 1rem;
    font-size: 1.7rem;
    color:var(--black);
  
}
.btn{
    display: inline-block;
    margin-top: 1rem;
    padding:.8rem 3rem;
    background:var(--light-yellow);
    color:var(--black);
    cursor: pointer;
    font-size: 1.7rem;
    border-radius: .5rem;
    font-weight: 500;
    text-align: center;
}
.btn:hover{
    background:var(--yellow);
}

#login-btn i{
    font-size: 2.5rem;
    color: var(--light-color);
    cursor: pointer;
    display: none;
}

.ItemLink:hover{
    color:var(--yellow);
}
.ItemLink{
    text-decoration: none;
}
#menu-btn{
    font-size: 2.5rem;
    color:var(--light-color);
    display: none;
}

.header.active{
    box-shadow: var(--box-shadow);
    padding: 2rem 9%;
}














@media(max-width:991px){
    html{
        font-size: 55%;
      
    }
    .header{
        padding:2rem;
    }
    .header.active{

        padding: 2rem;
    }
    section{
        padding:2rem ;
    }
    
}

@media(max-width:768px){
    #menu-btn{
        display: block;
    }
    #menu-btn.fa-times{
        transform: rotate(180deg);
    }
    #login-btn i{
      
        display: block;
    }
    #login-btn .btn{
      
        display: none;
    }
    .header .navbar{
        position: absolute;
        top:99%; left:0; right:0;
        background: #fff;
        border-top: var(--border);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    .header .active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
    .ItemLink{
display: inline-block;
margin: 2rem;
font-size: 2rem;
    }
    .navbar {
        display: flex;
flex-direction: row;
clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

}


@media(max-width:450px){
    html{
        font-size: 50%;
      
    }
    
}